

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */

*{
 margin: 0; 
 padding: 0; 
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box; 
}


html, body {
    background-color: #fff;
    color: #fff;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1.25rem;
    height: 100%;

}


a {

    text-decoration: underline;
    font-weight: 700; 
    color: #fff;

}

footer{

    background-color: #0090d0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


header{

   display:flex;
   align-items: center;
   justify-content: center;

}

*:focus{

  outline: none;
}

.the-wccv-content, #what-we-do,#members,#donate,#contact{

  padding-top: 5rem;
}

.outlined-box{

  outline: 1px solid #fff;
  padding: 0.625em;
}

.outlined-box-gray{

  outline: 1px solid #cccccc;
  padding: 0.625em;
}
/* ==========================================================================
   Header
   ========================================================================== */

nav{

  background-color: #fff;
  font-size: 1em;
  height: 90px;
  text-transform: uppercase; 


}

  nav .navbar-brand{

    padding: 0.5rem 0;
  }

  nav .navbar-nav{

  margin-top: 1.2rem;

}

nav li~li { 

  border-left: 1px solid #c7c7c7; 
}

    nav .navbar-nav li{

        padding: 0 1.5rem;
}

      nav .navbar-nav li a{

          text-decoration: none;
          color: #3c3c3c;
          font-weight: 300;
          font-size: 1em;

}

        nav .navbar-nav li a:hover, nav .navbar-nav li a:active, nav .navbar-nav li a:focus, nav .navbar-nav li a:visited{

        background: #fff;
        
}


        nav #navbar li.active a {
            border-bottom: 3px solid #008ecf;
        }

        nav #navbar li.active a:after{

          position: absolute;
          top: 90%;
          left: 45%;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #008ecf;
          border-left: 6px solid transparent;
          content: '';
        }



/* ==========================================================================
   Home
   ========================================================================== */

#home{

  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-position: right 10%, bottom center;
  background-repeat:no-repeat;
  height: 620px;
  position: relative;
  padding-bottom: 7rem;

}

  .box-home-left{

    position: absolute;
    top: 150px;
    max-width: 30%;
  }

  .box-home-left h1{
      
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 2rem;

  }

  .box-home-left p{

    line-height: 150%;
    font-size: 0.9em;
    
  }


  .box-home-right{

    color: #3c3c3c;
    position: absolute;
    bottom: 100px;
    right: 350px;
    max-width: 20%;
  }

    .box-home-right h2{

      font-size: 2em;
      font-weight: 600;

    }

    .box-home-right p{

      font-size: 0.8em;
    }

    .box-home-right .btn-donate{

      
      background-color: #68c261;
      -webkit-clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
      margin-left: -250px;
      padding: 0.7rem;
      padding-right: 1rem;
      text-align: right;
      -webkit-box-shadow: 0px 3px 0px 0px rgba(96,179,89,1);
      -moz-box-shadow: 0px 3px 0px 0px rgba(96,179,89,1);
      box-shadow: 0px 3px 0px 0px rgba(96,179,89,1);

    }

   
      .box-home-right .btn-donate a{

        text-decoration: none;
        font-size: 2.5em;

      }

/* ==========================================================================
   The WCCV
   ========================================================================== */


.the-wccv-content{
  
  background-image: url("../img/bg-who-we-are.jpg");
  background-size: cover;
  background-position: top left, bottom center;
  background-repeat:no-repeat;
  padding-bottom: 3rem;
  height: auto;
  font-size: 1em;
    

}

  
  .the-wccv-content .row{

     padding: 0 9.375rem;
  }

.who-we-are-header{

  background-color: #5fb158;
  color: #fff;
  height: 200px;
  width: 100%;
  text-transform: uppercase;

}
  
  .who-we-are-header h1{
     
     font-size: 2.5em; 
     font-weight: 700;
     padding: 0.625rem 3.125rem;
  }


  .link-box{
  
    font-size: 0.9em;
    margin-top: 1rem;
    text-align: center;

  }

    .link-box .outlined-box{

    margin-bottom: 2rem;
    width: 100%;

  }




/* ==========================================================================
   Where We are
   ========================================================================== */

.where-we-are{
  
  background-image: url("../img/bg-where-we-are.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  height: auto;
  margin-top: 0;
  font-size: 1em;
  padding-bottom: 5rem;
    
}


  .where-we-are h1{

       font-weight: 700;
       padding-right: 2.5rem;
       padding-left: 2.5rem;
       text-transform: uppercase;;
      
    }

  .where-we-are > .container{

  padding-top: 3.125rem;
  }

.box-data{

    font-size: 0.7em;
    font-weight: 600;
    display:flex;
        align-items: center;
        justify-content: center;

  }

.box-where-we-are{

     padding-right: 9.375rem;
     padding-left: 9.375rem;
     padding-top: 1.25rem;
  }




#gmap_canvas{
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
  max-width: none;
}
#map-canvas img {
  max-width: none !important;
  background:none!important
}

/* ==========================================================================
   What We do
   ========================================================================== */

.what-we-do{

  background-image: url("../img/bg-what-we-do.jpg");
  background-size: 100% 100%,cover;
  background-position: top left, bottom center;
  background-repeat:no-repeat;
  height: auto;
  font-size: 1em;

}

  .what-we-do h1{

     font-weight: 700;
     margin-bottom: 3.125rem;
     padding-right: 2.5rem;
     padding-left: 2.5rem;
     text-transform: uppercase;
  }

  .what-we-do h3{

     margin-bottom: 3.125rem;
     font-weight: 700;
  }

  .what-we-do .box-title{

    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 1em;

  }

    .what-we-do ol li{
    
    font-size: 0.8em;
    padding-bottom: 1rem;

  }

.box-table{

  display: flex;

}

.plans-box-white,.plans-box-blue{

   padding: 1.25rem 3.125rem;
   flex: 1;
}


.plans-box-white{

  background-color: #fff;
  color: #5f5f5f;
}
  .plans-box-white h2{

    color:#cccccc;
  }

.plans-box-blue{

  background-color: #0382bb;
}
/* ==========================================================================
   Members
   ========================================================================== */

.members{

  color: #000;
  font-size: 1em;

}

  .members h1{

    color: #cccccc;
    padding-right: 40px;
    padding-left: 40px;
    text-transform: uppercase;
  }

  .members hr{
    border-color:#0090d0;
    margin: 1.875rem 0;
  }

.slider{

  position: relative;
  height: 650px;
  margin-bottom: 1.5rem;
}


.profile{

  display: none;
  padding-top: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;

}

.active-profile{

  display: block;
}

.profile-name{

  color: #0090d0;
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 1.25rem;
}

.profile-photo{

  border: 1px solid #d0d0d0;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  padding: 1em;

}

.arrow-prev {
  margin-right: 2.8125rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 3.75rem;
  cursor: pointer;
}

.arrow-next {
  margin-left: 2.8125rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 3.75rem;
  cursor: pointer;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-top: 2.1875rem;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #ccc;
  display: inline;
  font-size: 3em;
  margin-right: 0.3125rem;
}

.slider-dots li.active-dot {
  color: #0090d0;
}

.become-member{
    padding-bottom: 3.125rem;
}

  .become-member h1{
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 3rem;
    }

  .become-member img{

    border: 1px solid #cfcfcf;
    border-radius: 50%;
    margin-bottom: 3rem;
  }

  .become-member-text{

    color: #888888;
    width: 80%;
    font-size: 1.2em;
    padding-top: 1rem;
  }
  
    .become-member-text a{

      color: #5f5f5f;
    }


/* ==========================================================================
   Donate
   ========================================================================== */

.donate{

  background-image: url("../img/bg-donate.jpg");
  background-size: cover;
  background-position: top left, bottom center;
  background-repeat:no-repeat;
  height: auto;
  padding-bottom: 9.375rem;
  font-size: 1em;

}   

  
  .donate header h1{

    font-size:2.5em;
    font-weight: 700;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    text-transform: uppercase;

  }


.title-label{

  margin-bottom: -1rem;
}


.with-money{

  margin-bottom: 5rem;
}

.with-money-box{

  margin-top: 5.625rem; 
}

.bank-box{

  padding: 0 5rem;
  font-size: 1em;
}

  .bank-box .main-text{
      font-size: 1.5em;
  }

.donate-border-box{

  border: 1px solid #fff;
  padding: 1.875rem;
  background: none;
  width: 40%;
}

.donate-box{

  background: #fff;
  color: #5f5f5f;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.3em;
}

.donate-value{

  font-weight: 700;
  font-size: 2.8em;
}

.other-ways-to-help{

  margin-bottom: 6.25rem;
}

  .other-ways-to-help h1{

    margin-bottom: 2.5rem;
  }

.directly-donate-box{

  display:flex;
  margin-top: 1.875rem;

}

  .directly-donate-box .outlined-box{

    padding: 1.25rem;

  }

.transparency{

  padding-top: 1.875rem;
}

/* ==========================================================================
   Contact
   ========================================================================== */

.contact{

  color: #5f5f5f;
  font-size: 1em;

}


  .contact h1{

    color: #ccc;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    font-size:2.5em;
    font-weight: 700;


  }

  .contact form {

    padding-top: 3.125rem;

 
  }

    .contact form a{

      color: inherit;
      text-decoration: none;
   
    }

.contact-content{
  
  width: 80%;
  
}


.social-contact{

    display: block;
    vertical-align:middle;
    padding-bottom: 0.625rem;
  }

  .social-contact img{

    margin-right: 1rem;
  }
  
  .contact input[type="text"],
  input[type="email"]{

    width: 48%;
  } 

  .contact input, textarea {
    border: 1px solid #ccc;
    margin-bottom: 0.625rem;
  }

  .contact textarea{

    height: 200px;
    width: 100%;
  }

    .contact input[type="submit"]{

      background-color: #0090d0;
      color: #fff;
      padding: 0.625rem 1.875rem;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      -webkit-box-shadow: 0px 3px 0px 0px rgba(1,109,157,1);
      -moz-box-shadow: 0px 3px 0px 0px rgba(1,109,157,1);
      box-shadow: 0px 3px 0px 0px rgba(1,109,157,1);
    }

.side-form{

  padding-top: 1.25rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer{

    margin-top: 30px;
    height: 100px;
    font-size: 1em;

}


.footer-brand p{

  font-size: 0.8em;
  margin-top: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;

}

.footer-location{

  font-size: 0.7em;
}

  .footer-location img{

  padding-right: 0.3125rem;
}

  .footer-location > div{

    padding-bottom: 0.625rem;
  }

.footer-location-phone{

  font-weight: 600;
}

  .footer-location-phone .bigger-number{

  font-size:1.5em;
}

.footer-social a{

  padding: 0 0.625rem;
}

.footer-donate{

  margin-top: 0.625rem;
}

  .footer-donate a{

    background-color: #5fb158;
    text-decoration: none;
    font-size: 1em;
    padding: 0.625rem 1rem;
     -webkit-box-shadow: 0px 3px 0px 0px rgba(86,161,80,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(86,161,80,1);
        box-shadow: 0px 3px 0px 0px rgba(86,161,80,1);

  }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 1200px) {

   .container{

    width: 960px;
  }
}
/*
@media screen and (max-width: 778px) {

    #home
   {
    background: red;
  }
}*/









